.ion-color-test {
    --ion-color-base: var(--ion-color-test);
    --ion-color-base-rgb: var(--ion-color-test-rgb);
    --ion-color-contrast: var(--ion-color-test-contrast);
    --ion-color-contrast-rgb: var(--ion-color-test-contrast-rgb);
    --ion-color-shade: var(--ion-color-test-shade);
    --ion-color-tint: var(--ion-color-test-tint);
  }
  
  .ion-color-second {
    --ion-color-base: var(--ion-color-second);
    --ion-color-base-rgb: var(--ion-color-second-rgb);
    --ion-color-contrast: var(--ion-color-second-contrast);
    --ion-color-contrast-rgb: var(--ion-color-second-contrast-rgb);
    --ion-color-shade: var(--ion-color-second-shade);
    --ion-color-tint: var(--ion-color-second-tint);
  }
  ion-spinner {
    transform: scale(2);
    position: fixed;
      top: 50%;
      left: 50%;
  }