<ion-header [translucent]="true" >
  <ion-toolbar color="test">
    <ion-title class="toolbar" style="text-align: center; font-family: Almarai;font-weight: 500;font-size:1.5rem;">
    تجارب واقعية     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title style="text-align: center; margin-top:2%;font-family: Almarai;font-weight: 700;font-size: 20px;">بعض قصص مكافحين ضد الكورونا</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col>
       <ion-list>
       <ion-item >
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label style="text-align:center; font-family: Almarai;font-weight: 700;font-size:1rem;float:right;color:green">إسم مستعار</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div dir='rtl'style="text-align:center; font-family: Almarai;font-weight: 500;font-size:0.9rem;float:right;">القصصصصصصصصصصصصصصصصصصصصصصصة</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label style="text-align:center; font-family: Almarai;font-weight: 700;color:#D1262D;font-size:1rem;float:left;">اليوم</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
       </ion-item>
       </ion-list>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
