<ion-header [translucent]="true" >
  <ion-toolbar color="test">
    <ion-title class="toolbar" style="text-align: center; font-family: Almarai;font-weight: 500;font-size:1.5rem;">
    تجارب واقعية     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="testRes; else nodata">
  <ion-title style="text-align: center; margin-top:2%;font-family: Almarai;font-weight: 700;font-size: 20px;">بعض قصص مكافحين ضد الكورونا</ion-title>
   <ion-card *ngFor="let item of story" style="border-radius: 10px;">
      <ion-card-header dir="rtl">
      <!-- <ion-card-subtitle></ion-card-subtitle> --> 
      <ion-card-title style="font-family: Almarai;">   
           <ion-label> {{item.createdBy.firstName}} {{ item.createdBy.lastName}} </ion-label> 
           <ion-icon src="./../../../assets/trash.svg" style="float:left;width:12em;heigth:12em" *ngIf="item.createdBy.email===user" (click)="delete(item.id)"></ion-icon>
      </ion-card-title>
      </ion-card-header>
    <ion-card-content dir='rtl'>
    <ion-grid>
    <ion-row>
        {{ item.content }}
    </ion-row>
    <ion-row style="float :left;color:red;">
    {{ item.createdAt|date : 'yyyy/dd/MM' }}
    </ion-row>
    </ion-grid>

     <!-- <ion-icon name="heart" color="danger"></ion-icon> -->  
   </ion-card-content>
  </ion-card>
</ion-content>

<ng-template #nodata>
<ion-content [fullscreen]="true">
   <ion-spinner name="bubbles" width="150em" color="danger"></ion-spinner>
</ion-content>
</ng-template>
