<ion-header [translucent]="true">
  <ion-grid>
    <ion-row>
      <ion-col style="margin-right: 25px;">
        <ion-img src="./../../assets/logosFRofficiel-small.png" style="width: 12rem;"></ion-img>
      </ion-col>
      <ion-col style="float: right;">
        <ion-img src="./../../assets/slogan-small.png" style="width: 5rem; float: right;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
<ion-label style="font-weight: bold;font-size:19px;color:black;font-family: Cairo;margin-left:3em;margin-top:8em">
معا بعضنا نجموا نتغلبوا عليه 
</ion-label>
  <ion-card style="border-radius: 15px;" (click)="setSucessStory()">
      <ion-card-header dir="rtl" style="margin-bottom:-1em">
      <ion-row>
      <ion-col>
          <ion-label style="font-weight: bold;font-size:15px;color:black;font-family: Cairo;text-align: center;float:left"> انا غلبتوا</ion-label>
      </ion-col>
      <ion-col>
          <ion-icon style="float: right;width: 30px;height: 30px;" src="../../assets/icon/fist.svg"></ion-icon>
      </ion-col>
      </ion-row>
      </ion-card-header>
      <ion-card-content dir="rtl">
         <ion-grid>
           <ion-row >
             <ion-col>
              <ion-label>أحكيلنا علي تجتربت نتغلبك على الفيروس و بش تنجم تنصحنا</ion-label>    
             </ion-col>
             <ion-col>
               <ion-icon style="float: left;width: 100px;height: 50px;" src="../../assets/icon/heart.svg"></ion-icon>
             </ion-col>
           </ion-row>
         </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card style="border-radius: 15px;" (click)="goChat()">
      <ion-card-header dir="rtl">
          <ion-label style="font-weight: bold;font-size:15px;color:black;font-family: Cairo;text-align: center;margin-right:5em"> انتي زادا تنجم تغلبوا </ion-label> 
      </ion-card-header>
      <ion-card-content dir="rtl">
         <ion-grid>
           <ion-row>
             <ion-col>
              <ion-label>  تنجم تحكي مع أطباء علوم نفس يقدمولك نصائح بش تتغلب عليه </ion-label>    
             </ion-col>
             <ion-col>
               <ion-img style="float: left;width: 100px;height: 50px;" src="../../assets/icon/icons8-santé-mentale-64.png"></ion-img>
             </ion-col>
           </ion-row>
         </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card style="border-radius: 15px;" (click)="goToWin()">
      <ion-card-header dir="rtl">
          <ion-label style="font-weight: bold;font-size:15px;color:black;font-family: Cairo;text-align: center;margin-right:7em"> تجارب واقعية   </ion-label>    
      </ion-card-header>
      <ion-card-content dir="rtl">
         <ion-grid>
           <ion-row>
             <ion-col>
              <ion-label>شوف المجرب و إسأل  الطبيب </ion-label>    
             </ion-col>
             <ion-col>
               <ion-icon style="float: left;width: 100px;height: 50px;" src="../../assets/icon/moral.svg"></ion-icon>
             </ion-col>
           </ion-row>
         </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
