<ion-header [translucent]="true">
  <ion-grid>
    <ion-row>
      <ion-col style="margin-right: 25px;">
        <ion-img src="./../../assets/logo.svg" style="width: 4rem; margin-left: 10%;"></ion-img>
      </ion-col>
      <ion-col style="float: right;">
        <ion-img src="./../../assets/slogan-small.png" style="width: 5rem; float: right;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<style>


</style>
<ion-content>
<ion-row style="text-align-last: center;">
  <ion-col size="12">
    <ion-label style="text-align:center; font-family: Almarai;font-weight: 700;font-size:1.5rem;">معا بعضنا نجموا نتغلبوا عليه </ion-label>
    
    </ion-col>
</ion-row>

  <ion-card style="border-radius: 15px;" (click)="setSucessStory()">
      <ion-card-header dir="rtl" style="margin-bottom:-1em">
      <ion-row>
      <ion-col size="9">
          <ion-label style="text-align:center;color: black; font-family: Almarai;font-weight: 600;font-size:1.5rem;"> أنا تغلبت على الكورونا</ion-label>
      </ion-col>
      </ion-row>
      </ion-card-header>
      <ion-card-content dir="rtl">
         <ion-grid>
           <ion-row >
             <ion-col size="6">
              <ion-label style="text-align:center;color: black; font-family: Almarai;font-weight: 400;font-size:1rem;">بطولتك مع الكورونا</ion-label>    
              <ion-button (click)="setSucessStory()" style="width: 50%; margin-top: 30%; font-family: Almarai;font-weight: 400;font-size:1rem;" color="test" expand="block" shape="round">
                واصل
              </ion-button>
            </ion-col>
             <ion-col>
              <ion-img style="float: left;width:70%" src="../../assets/Win.svg"></ion-img>
             </ion-col>
           </ion-row>
         </ion-grid>
        
      </ion-card-content>
    </ion-card>

    <ion-card style="border-radius: 15px;" (click)="goChat()">
      <ion-card-header dir="rtl">
          <ion-label style="text-align:center;color: black; font-family: Almarai;font-weight: 600;font-size:1.5rem;"> أنت أيضا يمكنك التغلب  </ion-label> 
      </ion-card-header>
      <ion-card-content dir="rtl">
         <ion-grid>
           <ion-row>
             <ion-col>
              <ion-label style="text-align:center;color: black; font-family: Almarai;font-weight: 400;font-size:1rem;">  تواصل مع أخصاء نفسيين</ion-label>    
              <ion-button (click)="goChat()" style="width: 50%; margin-top: 20%; font-family: Almarai;font-weight: 400;font-size:1rem;" color="test" expand="block" shape="round">
                واصل
              </ion-button>
            </ion-col>
             <ion-col>
               <ion-img style="float: left;width:70%" src="../../assets/Fight.svg"></ion-img>
             </ion-col>
           </ion-row>
         </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card style="border-radius: 15px;" (click)="goToWin()">
      <ion-card-header dir="rtl">
          <ion-label style="text-align:center;color: black; font-family: Almarai;font-weight: 600;font-size:1.5rem;"> تجارب واقعية   </ion-label>    
      </ion-card-header>
      <ion-card-content dir="rtl">
         <ion-grid>
           <ion-row>
             <ion-col>
              <ion-label style="text-align:center;color: black; font-family: Almarai;font-weight: 400;font-size:1rem;">قصص حقيقية لناس تغلبوا على الكورونا </ion-label>    
              <ion-button (click)="goToWin()" style="width: 50%; margin-top: 20%; font-family: Almarai;font-weight: 400;font-size:1rem;" color="test" expand="block" shape="round">
                واصل
              </ion-button>
            </ion-col>
            
             <ion-col>
               <ion-img style="float: left;width:70%" src="../../assets/True.svg"></ion-img>
             </ion-col>
           </ion-row>
         </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
