<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab2" style="color: black;">
      <ion-icon size="large" src="./../../assets/form.svg"></ion-icon>
      <ion-label style="text-align:center; font-family: Almarai;font-weight: 700;font-size:0.6rem;" >الإجابات</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1" style="color: black;" routerDirection="forward">
      <ion-icon size="large" src="./../../assets/question.svg"></ion-icon>
      <ion-label style="text-align:center; font-family: Almarai;font-weight: 700;font-size:0.6rem;">أسئلة</ion-label>
    </ion-tab-button>

     <ion-tab-button tab="tab4" style="color: Black;">
      <ion-icon size="large" src="./../../assets/charity.svg"></ion-icon>
      <ion-label style="text-align:center; font-family: Almarai;font-weight: 700;font-size:0.6rem;"> نتغلب عليه</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tab3" style="color: Black;">
      <ion-icon size="large" src="./../../assets/call.svg"></ion-icon>
      <ion-label style="text-align:center; font-family: Almarai;font-weight: 700;font-size:0.6rem;">إتصل بنا</ion-label>
    </ion-tab-button>
   
  </ion-tab-bar>

</ion-tabs>
