<ion-header [translucent]="true">
  <ion-grid>
    <ion-row>
      <ion-col style="margin-right: 25px;">
        <ion-img src="./../../assets/logo.svg" style="width: 4rem; margin-left: 10%;"></ion-img>
      </ion-col>
      <ion-col style="float: right;">
        <ion-img src="./../../assets/slogan-small.png" style="width: 5rem; float: right;"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title style="text-align: center; margin-top:2%;font-family: Almarai;font-weight: 700;font-size: 30px;">إتصل بنا</ion-title>
  <ion-grid>
      <ion-list>
        <ion-item style="align-items: end;"href="tel:+216 190">

          <ion-label style="font-size:1rem;color:green;font-family: Almarai;font-weight: 700;" >190</ion-label>
          <ion-icon size="large" src="./../../assets/call.svg"></ion-icon>

        </ion-item>
        <ion-item style="align-items: end;"href="tel:+216 190">

          <ion-label style="font-size:1rem;color:green;font-family: Almarai;font-weight: 700;" >80808080</ion-label>
          <ion-icon size="large" src="./../../assets/call.svg"></ion-icon>

        </ion-item>
        <ion-item style="align-items: end;"href="tel:+216 190">

          <ion-label style="font-size:1rem;color:green;font-family: Almarai;font-weight: 700;" >19 19 10 80</ion-label>
          <ion-icon size="large" src="./../../assets/call.svg"></ion-icon>

        </ion-item>
        <ion-item style="align-items: end;"href="tel:+216 190">

          <ion-label style="font-size:1rem;color:green;font-family: Almarai;font-weight: 700;" >190</ion-label>
          <ion-icon size="large" src="./../../assets/call.svg"></ion-icon>

        </ion-item>
      </ion-list>
  </ion-grid>
</ion-content>